@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Charlestown Dias da Cunha<br />
    Estrada de Itapecerica, 3250 - 05.835-960<br />
    <abbr title="Cell Phone">P:</abbr>
    (11) 95657-7551
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:cdcunha@gmail.com">cdcunha@gmail.com</a><br />
</address>